{% extends 'partials/base.html' %}
{% load static %}
{% block content %}
{% load humanize %} <!-- wag pansinin -->

    <main class="main pages">
        <div class="page-header breadcrumb-wrap">
            <div class="container">
                <div class="breadcrumb">
                    <a href="index.html" rel="nofollow"><i class="fi-rs-home mr-5"></i>Home</a>
                    <span></span> Pages <span></span> Contact
                </div>
            </div>
        </div>
        <div class="page-content pt-50">
            <div class="container">
                <div class="row">
                    <div class="col-xl-10 col-lg-12 m-auto">
                        <section class="row align-items-end mb-50">
                            <div class="col-lg-4 mb-lg-0 mb-md-5 mb-sm-5">
                                <h4 class="mb-20 text-brand">Welcome to Ataiza's Upholstery!</h4>
                                <h1 class="mb-30">About Us</h1>
                                <p class="mb-20">At Ataiza's Upholstery, we specialize in providing top-notch sofa upholstery and re-upholstery services at affordable rates.</p>
                                <p> With a commitment to excellence, we guarantee high-quality workmanship on every project. </p>
                                <p>Our services encompass a wide range, including sala set, 3-seater sofa, dining chair, office chair, lazy boy, panel boards, ottoman, sofa bed, cushions,{% comment %} headboards, gym equipment, car seats, office sofas, spa chairs,{% endcomment %} and more. </p> 
                                <p>All our prices are negotiable, ensuring affordability without compromising on quality.</p>
                                <p><strong>Established Since: 2015</strong></p>
                            </div>
                            <div class="col-lg-6">

                                {% comment %} <iframe
                                    width="900"
                                    height="400"
                                    frameborder="0"
                                    style="border:0"
                                    src="https://www.google.com/maps/embed/v1/place?key=YOUR_API_KEY&q=37.7749,-122.4194"
                                    allowfullscreen>
                                </iframe> {% endcomment %}
                                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1369.0866167564252!2d121.59848194388566!3d13.937054918043868!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x33bd4b642505a279%3A0x2ee16fc03b320d11!2sAtaiza&#39;s%20upholstery!5e0!3m2!1sen!2sph!4v1706076593706!5m2!1sen!2sph" width="900" height="400" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                                <p>Visit us at Maharlika Highway, Ibabang Iyam, Lucena City, Quezon Province</p>
                                
                                <p><strong>Operating Hours: Monday to Saturday, 8 am to 5 pm</strong></p>
                            </div>
                                
                            </div>
                        </section>
                    </div>

                    
                </div>

                
            </div>
            {% comment %} <section class="container mb-50 d-none d-md-block">
                <div class="border-radius-15 overflow-hidden">
                    <div id="map-panes" class="leaflet-map"></div>
                </div>
            </section> {% endcomment %}
            <div class="container">
                <div class="row">
                    <div class="col-xl-10 col-lg-12 m-auto">
                        <section class="mb-50">
                            <div class="row mb-60">
                                
                                
                                {% comment %} <div class="col-md-4 mb-4 mb-md-0">
                                    <h4 class="mb-15 text-brand">Studio</h4>
                                    205 North Michigan Avenue, Suite 810<br />
                                    Chicago, 60601, USA<br />
                                    <abbr title="Phone">Phone:</abbr> (123) 456-7890<br />
                                    <abbr title="Email">Email: </abbr><a href="/cdn-cgi/l/email-protection" class="__cf_email__" data-cfemail="85e6eaebf1e4e6f1c5c0f3e4f7e4abe6eae8">[email&#160;protected]</a><br />
                                    <a class="btn btn-sm font-weight-bold text-white mt-20 border-radius-5 btn-shadow-brand hover-up"><i class="fi-rs-marker mr-5"></i>View map</a>
                                </div> {% endcomment %}
                                {% comment %} <div class="col-md-4">
                                    <h4 class="mb-15 text-brand">Shop</h4>
                                    205 North Michigan Avenue, Suite 810<br />
                                    Chicago, 60601, USA<br />
                                    <abbr title="Phone">Phone:</abbr> (123) 456-7890<br />
                                    <abbr title="Email">Email: </abbr><a href="/cdn-cgi/l/email-protection" class="__cf_email__" data-cfemail="2f4c40415b4e4c5b6f6a594e5d4e014c4042">[email&#160;protected]</a><br />
                                    <a class="btn btn-sm font-weight-bold text-white mt-20 border-radius-5 btn-shadow-brand hover-up"><i class="fi-rs-marker mr-5"></i>View map</a>
                                </div> {% endcomment %}
                            </div>
                            <div class="row">
                                <div class="col-xl-8">
                                    <div class="contact-from-area padding-20-row-col">
                                        <h5 class="text-brand mb-10">Contact form</h5>
                                        <h2 class="mb-10">Drop Us a Line</h2>
                                        <p>Feel free to reach out to us via text or call at <br><strong> 09105477527 | 09234140024</strong></p>
                                        <p class="text-muted mb-30 font-sm contact_us_p">Your email address will not be published. Required fields are marked *</p>
                                        <h4 class="text-success" id="message-response">Message Sent</h4>
                                        <form class="contact-form-style mt-30" id="contact-form-ajax" action="" method="POST">
                                            {% csrf_token %}
                                            <div class="row">
                                                <div class="col-lg-6 col-md-6">
                                                    <div class="input-style mb-20">
                                                        <input name="full_name" id="full_name" placeholder="Full Name" type="text" />
                                                    </div>
                                                </div>
                                                <div class="col-lg-6 col-md-6">
                                                    <div class="input-style mb-20">
                                                        <input name="email" id="email" placeholder="Your Email" type="email" />
                                                    </div>
                                                </div>
                                                <div class="col-lg-6 col-md-6">
                                                    <div class="input-style mb-20">
                                                        <input name="telephone" id="phone" placeholder="Your Phone" type="tel" />
                                                    </div>
                                                </div>
                                                <div class="col-lg-6 col-md-6">
                                                    <div class="input-style mb-20">
                                                        <input name="subject" id="subject" placeholder="Subject" type="text" />
                                                    </div>
                                                </div>
                                                <div class="col-lg-12 col-md-12">
                                                    <div class="textarea-style mb-30">
                                                        <textarea name="message" id="message" placeholder="Message"></textarea>
                                                    </div>
                                                    <button class="submit submit-auto-width" type="submit">Send message</button>
                                                </div>
                                            </div>
                                        </form>
                                        <p class="form-messege"></p>
                                    </div>
                                </div>
                                <div class="col-lg-4 pl-50 d-lg-block d-none">
                                    <img class="border-radius-15 mt-50" src="assets/imgs/page/contact-2.png" alt="" />
                                </div>
                            </div>
                        </section>
                    </div>
                </div>
            </div>
        </div>
    </main>

{% endblock content %}