{% extends 'partials/base.html' %}
{% load static %}
{% block content %}
{% load humanize %}
    <main class="main pages">
        <div class="page-header breadcrumb-wrap">
            <div class="container">
                <div class="breadcrumb">
                    <a href="index.html" rel="nofollow"><i class="fi-rs-home mr-5"></i>Home</a>
                    <span></span> Pages <span></span> My Account
                </div>
            </div>
        </div>
        <div class="page-content pt-150 pb-150">
            <div class="container">
                <div class="row">
                    <div class="col-lg-10 m-auto">
                        <div class="row">
                            <div class="col-md-3">
                                <div class="dashboard-menu">
                                    <ul class="nav flex-column" role="tablist">
                                        <li class="nav-item">
                                            <a class="nav-link active" id="profile-tab" data-bs-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="false"><i class="fi-rs-user mr-10"></i>Profile</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" id="dashboard-tab" data-bs-toggle="tab" href="#dashboard" role="tab" aria-controls="dashboard" aria-selected="false"><i class="fi-rs-settings-sliders mr-10"></i>Dashboard</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" id="orders-tab" data-bs-toggle="tab" href="#orders" role="tab" aria-controls="orders" aria-selected="false"><i class="fi-rs-shopping-bag mr-10"></i>Orders</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" id="custom-orders-tab" data-bs-toggle="tab" href="#customorders" role="tab" aria-controls="customorders" aria-selected="false"><i class="fi fi-ts-bed-empty mr-10"></i>Custom Orders</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" id="track-orders-tab" data-bs-toggle="tab" href="#track-orders" role="tab" aria-controls="track-orders" aria-selected="false"><i class="fi-rs-shopping-cart-check mr-10"></i>Track Your Order</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" id="address-tab" data-bs-toggle="tab" href="#address" role="tab" aria-controls="address" aria-selected="true"><i class="fi-rs-marker mr-10"></i>My Address</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" id="account-detail-tab" data-bs-toggle="tab" href="#account-detail" role="tab" aria-controls="account-detail" aria-selected="true"><i class="fi-rs-user mr-10"></i>Account details</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" href="page-login.html"><i class="fi-rs-sign-out mr-10"></i>Logout</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="col-md-9">
                                <div class="tab-content account dashboard-content pl-50">
                                    <div class="tab-pane fade active show" id="profile" role="tabpanel" aria-labelledby="profile-tab">
                                        <div class="card">
                                            <div class="card-header border-bottom">
                                                <h3 class="mb-0">My Profile</h3>
                                            </div>
                                            <div class="card-body mb-2" style="display:flex; align-items:center; gap:10px;" >
                                                {% comment %} <h4>{{profile.full_name|title}}</h4> {% endcomment %}
                                                <div>
                                                    {% if profile.image %}
                                                    <span><img src="{{profile.image.url}}" style="width:150px; height:150px; object-fit:cover; border-radius:50%;" alt=""></span>
                                                    {% else %}
                                                    <span><img src="https://t4.ftcdn.net/jpg/02/15/84/43/360_F_215844325_ttX9YiIIyeaR7Ne6EaLLjMAmy4GvPC69.jpg" style="width:150px; height:150px; object-fit:cover; border-radius:50%;" alt=""></span>
                                                    {% endif %}
                                                </div>
                                                <div>
                                                    <span><input class="mb-2" type="text" value="Name: {{profile.first_name}} {{profile.last_name}}"></span>
                                                    <span><input class="mb-2" type="text" value="Bio: {{profile.bio}}"></span>
                                                    <span><input class="mb-2" type="text" value="Phone: {{profile.phone}}"></span>
                                                </div>
                                                {% if profile.verified == True %}
                                                <div class="p-4 border rounded">
                                                    <span> Verified </span><span><i class="fas fa-check-circle" style="color:#32CD32;"></i></span>
                                                </div>
                                                {% else %}
                                                <div class="p-4 border rounded">
                                                    <span> Unverified </span><span><i class="fas fa-circle-xmark" style="color:red;"></i></span>
                                                </div>
                                                {% endif %}
                                            
                                            </div>
                                            <div class="p-4">
                                                <a href="{% url 'userauths:profile-update' %}" class="btn btn-success">Edit Profile</a>
                                            </div>
                                            {% comment %} <div class="mt-4">
                                                <p>{{month}}</p>
                                                <p>{{total_orders}}</p>
                                            </div> {% endcomment %}
                                            {% comment %} <div> {% endcomment %}
                                                {% comment %} <canvas style="height:50px;" id="myChart"></canvas> {% endcomment %}
                                            {% comment %} </div> {% endcomment %}

                                        </div>
                                    </div>
                                    <div class="tab-pane fade" id="dashboard" role="tabpanel" aria-labelledby="dashboard-tab">
                                        <div class="card">
                                            <div class="card-header">
                                                <h3 class="mb-0">Hello {{request.user.profile|title}}!</h3>
                                            </div>
                                            <div class="card-body">
                                                <p>
                                                    From your account dashboard. you can easily check &amp; view your <a href="#">recent orders</a>,<br />
                                                    manage your <a href="#">shipping and billing addresses</a> and <a href="#">edit your password and account details.</a>
                                                </p>
                                            </div>
                                            {% comment %} <div class="mt-4">
                                                <p>{{month}}</p>
                                                <p>{{total_orders}}</p>
                                            </div> {% endcomment %}
                                            <div>
                                                <canvas style="height:50px;" id="myChart"></canvas>
                                            </div>

                                            <!-- dito lang muna magcode-->
                                            <!-- dito lang muna magcode-->


                                        </div>
                                    </div>
                                    <div class="tab-pane fade" id="orders" role="tabpanel" aria-labelledby="orders-tab">
                                        <div class="card">
                                            <h3>Orders</h3>
                                            <div class="card-header">
                                                <h3 class="mb-0">Receipt Submitted = False</h3>
                                            </div>
                                            <div class="card-body">
                                                <div class="table-responsive">
                                                    <table class="table">
                                                        <thead>
                                                            <tr>
                                                                <th>Order ID</th>
                                                                <th>Order</th>
                                                                <th>Date</th>
                                                                <th>Status</th>
                                                                <th>Receipt Submitted</th>
                                                                <th>Payment Status</th>
                                                                <th>Total</th>
                                                                <th>Actions</th>
                                                            </tr>
                                                        </thead>
                                                        <tbody>
                                                            {% for orfalse in order_list_rfalse %}
                                                            <tr>
                                                                <td>{{orfalse.cartorder_id}}</td>
                                                                <td>INVOICE_NO-{{o.id}}</td>
                                                                <td>{{orfalse.order_date}}</td>
                                                                <td>{{orfalse.product_status|title}}</td>

                                                                {% if orfalse.receipt_submitted == True %}
                                                                <td><i class="fas fa-check-circle text-success"></i></td>
                                                                {% else %}
                                                                <td class="text-danger"><strong>X</strong></td>
                                                                {% endif %}

                                                                {% if orfalse.paid_status == True %}
                                                                <td><i class="fas fa-check-circle text-success"></i></td>
                                                                {% else %}
                                                                <td class="text-danger"><strong>X</strong></td>
                                                                {% endif %}
                                                                <td>{{orfalse.price|floatformat:2|intcomma}}</td>
                                                                <td><a href="{% url 'core:order-detail' orfalse.id %}" class="btn-small d-block">View</a></td>
                                                                <td><a href="{% url 'core:checkout-gcash' orfalse.id %}" class="btn-small d-block" style="color:blue;">Pay Now</a></td>

                                                            </tr>
                                                            {% endfor %}
                                                        </tbody>
                                                    </table>
                                                    <!-- SEPARATION -->
                                                    <h3 class="mb-0">Receipt Submitted = True</h3>
                                                    <table class="table">
                                                        <thead>
                                                            <tr>
                                                                <th>Order ID</th>
                                                                <th>Order</th>
                                                                <th>Date</th>
                                                                <th>Status</th>
                                                                <th>Receipt Submitted</th>
                                                                <th>Payment Status</th>
                                                                <th>Total</th>
                                                                <th>Actions</th>
                                                            </tr>
                                                        </thead>
                                                        <tbody>
                                                            {% for ortrue in order_list_rtrue %}
                                                            <tr>
                                                                <td>{{ortrue.cartorder_id}}</td>
                                                                <td>INVOICE_NO-{{ortrue.id}}</td>
                                                                <td>{{ortrue.order_date}}</td>
                                                                <td>{{ortrue.product_status|title}}</td>

                                                                {% if ortrue.receipt_submitted == True %}
                                                                <td><i class="fas fa-check-circle text-success"></i></td>
                                                                {% else %}
                                                                <td class="text-danger"><strong>X</strong></td>
                                                                {% endif %}

                                                                {% if ortrue.paid_status == True %}
                                                                <td><i class="fas fa-check-circle text-success"></i></td>
                                                                {% else %}
                                                                <td class="text-danger"><strong>X</strong></td>
                                                                {% endif %}
                                                                <td>{{ortrue.price|floatformat:2|intcomma}}</td>
                                                                <td><a href="{% url 'core:order-detail' ortrue.id %}" class="btn-small d-block">View</a></td>
                                                                {% comment %} <td><a href="{% url 'core:checkout-gcash' o.id %}" class="btn-small d-block" style="color:blue;">Pay Now</a></td> {% endcomment %}

                                                            </tr>
                                                            {% endfor %}
                                                        </tbody>
                                                    </table>

                                                    <!-- SEPARATION -->
                                                    <h3 class="mb-0">Paid = True</h3>
                                                    <table class="table">
                                                        <thead>
                                                            <tr>
                                                                <th>Order ID</th>
                                                                <th>Order</th>
                                                                <th>Date</th>
                                                                <th>Status</th>
                                                                <th>Receipt Submitted</th>
                                                                <th>Payment Status</th>
                                                                <th>Total</th>
                                                                <th>Actions</th>
                                                            </tr>
                                                        </thead>
                                                        <tbody>
                                                            {% for orpaid in order_list_paid %}
                                                            <tr>
                                                                <td>{{orpaid.cartorder_id}}</td>
                                                                <td>INVOICE_NO-{{orpaid.id}}</td>
                                                                <td>{{orpaid.order_date}}</td>
                                                                <td>{{orpaid.product_status|title}}</td>

                                                                {% if orpaid.receipt_submitted == True %}
                                                                <td><i class="fas fa-check-circle text-success"></i></td>
                                                                {% else %}
                                                                <td class="text-danger"><strong>X</strong></td>
                                                                {% endif %}

                                                                {% if orpaid.paid_status == True %}
                                                                <td><i class="fas fa-check-circle text-success"></i></td>
                                                                {% else %}
                                                                <td class="text-danger"><strong>X</strong></td>
                                                                {% endif %}
                                                                <td>{{orpaid.price|floatformat:2|intcomma}}</td>
                                                                <td><a href="{% url 'core:order-detail' orpaid.id %}" class="btn-small d-block">View</a></td>
                                                                {% comment %} <td><a href="{% url 'core:checkout-gcash' o.id %}" class="btn-small d-block" style="color:blue;">Pay Now</a></td> {% endcomment %}

                                                            </tr>
                                                            {% endfor %}
                                                        </tbody>
                                                    </table>


                                                </div>
                                            </div>
                                        </div>
                                    </div>


                                    <div class="tab-pane fade" id="customorders" role="tabpanel" aria-labelledby="custom-orders-tab">
                                        <div class="card">
                                            <h3>Custom Orders</h3>
                                            <div class="card-header">
                                                <h3 class="mb-0">Waiting for Payment</h3>
                                            </div>
                                            <div class="card-body">
                                                <div class="table-responsive">
                                                    <table class="table">
                                                        <thead>
                                                            <tr>
                                                                <th>Custom Order ID</th>
                                                                <th>Product Type</th>
                                                                <th>Material</th>
                                                                <th>Color</th>
                                                                <th>Foam Type</th>
                                                                <th>M/R</th>
                                                                <th>Quantity</th>

                                                                <th>Percentage</th>
                                                                <th>

                                                                
                                                            </tr>
                                                        </thead>
                                                        <tbody>
                                                            {% for col_rp in custom_order_list_receiptfalse %} {% comment %} wala pareho {% endcomment %}
                                                            <tr>
                                                                <td>{{col_rp.co_id}}</td>
                                                                <td>{{col_rp.product_type}}</td>
                                                                <td>{{col_rp.material}}</td>
                                                                <td>{{col_rp.color}}</td>
                                                                <td>{{col_rp.foam_type}}</td>
                                                                <td>{{col_rp.make_or_repair}}</td>
                                                                <td>{{col_rp.qty}}</td>
                                                                

                                                                <td>Settle your payment first</td>

                                                                <td><a href="{% url 'core:custom-order-detail' co_id=col_rp.co_id %}">View Order</a></td>
                                                                <td><a href="">Pay Now</a></td>


{% comment %} 
                                                                {% if orfalse.paid_status == True %}
                                                                <td><i class="fas fa-check-circle text-success"></i></td>
                                                                {% else %}
                                                                <td class="text-danger"><strong>X</strong></td>
                                                                {% endif %}
                                                                <td>{{orfalse.price|floatformat:2|intcomma}}</td>
                                                                <td><a href="{% url 'core:order-detail' orfalse.id %}" class="btn-small d-block">View</a></td>
                                                                <td><a href="{% url 'core:checkout-gcash' orfalse.id %}" class="btn-small d-block" style="color:blue;">Pay Now</a></td> {% endcomment %}

                                                            </tr>
                                                            {% endfor %}
                                                        </tbody>
                                                    </table>
                                                    

                                                    


                                                </div>
                                            </div>

                                            <!-- separation -->
                                            <h3>Custom Orders</h3>
                                            <div class="card-header">
                                                <h3 class="mb-0">Receipt Submitted</h3>
                                            </div>
                                            <div class="card-body">
                                                <div class="table-responsive">
                                                    <table class="table">
                                                        <thead>
                                                            <tr>
                                                                <th>Custom Order ID</th>
                                                                <th>Product Type</th>
                                                                <th>Material</th>
                                                                <th>Color</th>
                                                                <th>Foam Type</th>
                                                                <th>M/R</th>
                                                                <th>Quantity</th>
                                                                <th>Payment Approved</th>
                                                                

                                                            </tr>
                                                        </thead>
                                                        <tbody>
                                                            {% for col_rt in custom_order_list_receipttrue %}
                                                            <tr>
                                                                <td>{{col_rt.co_id}}</td>
                                                                <td>{{col_rt.product_type}}</td>
                                                                <td>{{col_rt.material}}</td>
                                                                <td>{{col_rt.color}}</td>
                                                                <td>{{col_rt.foam_type}}</td>
                                                                <td>{{col_rt.make_or_repair}}</td>
                                                                <td>{{col_rt.qty}}</td>
                                                                

                                                                {% if col_rt.payment_approved == True %}
                                                                <td><i class="fas fa-check-circle text-success"></i></td>
                                                                {% else %}
                                                                <td class="text-danger"><strong>Waiting for approval</strong></td>
                                                                {% endif %}

                                                                <td><a href="{% url 'core:custom-order-detail-wreceipt' co_id=col_rt.co_id %}">View Order</a></td>
                                                                


{% comment %} 
                                                                {% if orfalse.paid_status == True %}
                                                                <td><i class="fas fa-check-circle text-success"></i></td>
                                                                {% else %}
                                                                <td class="text-danger"><strong>X</strong></td>
                                                                {% endif %}
                                                                <td>{{orfalse.price|floatformat:2|intcomma}}</td>
                                                                <td><a href="{% url 'core:order-detail' orfalse.id %}" class="btn-small d-block">View</a></td>
                                                                <td><a href="{% url 'core:checkout-gcash' orfalse.id %}" class="btn-small d-block" style="color:blue;">Pay Now</a></td> {% endcomment %}

                                                            </tr>
                                                            {% endfor %}
                                                        </tbody>
                                                    </table>
                                                    

                                                    


                                                </div>
                                            </div>

                                            <h3>Custom Orders</h3>
                                            <div class="card-header">
                                                <h3 class="mb-0">Payment Approved</h3>
                                            </div>
                                            <div class="card-body">
                                                <div class="table-responsive">
                                                    <table class="table">
                                                        <thead>
                                                            <tr>
                                                                <th>Custom Order ID</th>
                                                                <th>Product Type</th>
                                                                <th>Material</th>
                                                                <th>Color</th>
                                                                <th>Foam Type</th>
                                                                <th>M/R</th>
                                                                <th>Quantity</th>
                                                                
                                                                <th>Percentage</th>
                                                                
                                                                <th>Paid Amount</th>
                                                                <th>Date Approved</th>  
                                                            </tr>
                                                        </thead>
                                                        <tbody>
                                                            {% for col_approved in custom_order_list_approved %}
                                                            <tr>
                                                                <td>{{col_approved.co_id}}</td>
                                                                <td>{{col_approved.product_type}}</td>
                                                                <td>{{col_approved.material}}</td>
                                                                <td>{{col_approved.color}}</td>
                                                                <td>{{col_approved.foam_type}}</td>
                                                                <td>{{col_approved.make_or_repair}}</td>
                                                                <td>{{col_approved.qty}}</td>
                                                                

                                                                
                                                                <td>{{col_approved.percentage_progress}}%</td>

                                                                
                                                                <td>₱{{col_approved.paid_amount}}</td>

                                                                <td>{{col_approved.date_approved}}</td>
{% comment %} 
                                                                {% if orfalse.paid_status == True %}
                                                                <td><i class="fas fa-check-circle text-success"></i></td>
                                                                {% else %}
                                                                <td class="text-danger"><strong>X</strong></td>
                                                                {% endif %}
                                                                <td>{{orfalse.price|floatformat:2|intcomma}}</td>
                                                                <td><a href="{% url 'core:order-detail' orfalse.id %}" class="btn-small d-block">View</a></td>
                                                                <td><a href="{% url 'core:checkout-gcash' orfalse.id %}" class="btn-small d-block" style="color:blue;">Pay Now</a></td> {% endcomment %}
                                                                <td><a href="{% url 'core:custom-order-detail-paid' co_id=col_approved.co_id %}">View Order</a></td>

                                                            </tr>
                                                            {% endfor %}
                                                        </tbody>
                                                    </table>
                                                    

                                                    


                                                </div>
                                            </div>

                                        </div>
                                    </div>

                                    
                                    
                                    













                                    <div class="tab-pane fade" id="track-orders" role="tabpanel" aria-labelledby="track-orders-tab">
                                        <div class="card">
                                            <div class="card-header">
                                                <h3 class="mb-0">Orders tracking</h3>
                                            </div>
                                            <div class="card-body contact-from-area">
                                                <p>To track your order please enter your OrderID in the box below and press "Track" button. This was given to you on your receipt and in the confirmation email you should have received.</p>
                                                <div class="row">
                                                    <div class="col-lg-8">
                                                        <form class="contact-form-style mt-30 mb-50" action="#" method="post">
                                                            <div class="input-style mb-20">
                                                                <label>Order ID</label>
                                                                <input name="order-id" placeholder="Found in your order confirmation email" type="text" />
                                                            </div>
                                                            <div class="input-style mb-20">
                                                                <label>Billing email</label>
                                                                <input name="billing-email" placeholder="Email you used during checkout" type="email" />
                                                            </div>
                                                            <button class="submit submit-auto-width" type="submit">Track</button>
                                                        </form>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="tab-pane fade" id="address" role="tabpanel" aria-labelledby="address-tab">

                                        
                                        <div class="row">

                                            <!-- CAN BE DELETED -->
                                        <div id="map"></div>
                                        <script>
                                            navigator.geolocation.getCurrentPosition(position => {
                                                const {latitude,longitude} = position.coords;
                                                // show map
                                                map.innerHTML = '<iframe width="700" height="300" src="https://maps.google.com/maps?q='+latitude+',
                                                '+longitude+'&amp;z=15&amp;output=embed"></iframe>';
                                            });
                                        </script>

                                        <!-- CAN BE DELETED -->


                                                <div>
                                                    <form class="mb-4" method="POST" > {% csrf_token %}
                                                        <div class="card-hdeader">
                                                            <h5>Add Address</h5>
                                                        </div>
                                                        <div class="row">
                                                            {% comment %} <div class="form-group col-md-6">
                                                                <input placeholder="Address" required="" class="form-control" name="address" type="text" />
                                                            </div> {% endcomment %}
                                                            <div class="form-group col-md-6">
                                                                <textarea placeholder="Address" required="" class="form-control" name="address" id="address"></textarea>
                                                            </div>
                                                            
                                                            
                                                            <div class="form-group col-md-6">
                                                                <input placeholder="Phone" required="" class="form-control" name="mobile" />
                                                            </div>
                                                            <div class="col-md-12">
                                                                <button type="button" class="btn btn-fill-out submit font-weight-bold" id="fetchLocation">Fetch Location</button>
                                                                <button type="submit" class="btn btn-fill-out submit font-weight-bold" name="submit"
                                                                value="Submit">Save Address</button>
                                                            </div>
                                                        </div>
                                                    </form>
                                                </div>


                                                <div class="location-data">
                                                    <!-- Location data will be displayed here -->
                                                </div>
                                            
                                                <div class="row">
                                                    <!-- Your existing address display loop -->
                                                </div>

                                                <hr>
                                                <br>
                                                {% for a in address %}
                                            <div class="col-lg-6">
                                                <div class="card mb-3 mb-lg-0">
                                                    <div class="card-header">
                                                        <h4 class="mb-0">Address {{forloop.counter}}</h4>
                                                    </div>

                                                    

                                                    <div class="card-body border rounded">
                                                        <address>
                                                            <p>{{a.address}}</p>
                                                            <p>{{a.mobile}}</p>
                                                            <p>{{a.id}}</p>
                                                            {% comment %} <p>{{a.status}}</p> {% endcomment %}
                                                        </address> 
                                                        <br>
                                                        {% if a.status %}
                                                            <i data-address-id="{{ a.id }}" class="fa fa-check-circle text-success check{{a.id}} check"></i>
                                                            <button data-address-id="{{ a.id }}" style="display: none;" class="btn make-default-address button{{a.id}} action_btn">Make Default</button> 
                                                        {% else %}
                                                            <i data-address-id="{{ a.id }}" style="display: none;" class="fa fa-check-circle text-success check check{{a.id}}"></i>
                                                            <button data-address-id="{{ a.id }}"  class="btn make-default-address button{{a.id}} action_btn">Make Default</button> 
                                                        {% endif %}


                                                        
                                                        
                                                    </div>
                                                    
                                                </div>
                                            </div>
                                            {% endfor %}
                                        </div>
                                    </div>
                                    <div class="tab-pane fade" id="account-detail" role="tabpanel" aria-labelledby="account-detail-tab">
                                        <div class="card">
                                            <div class="card-header">
                                                <h5>Account Details</h5>
                                            </div>
                                            <div class="card-body">
                                                <p>Already have an account? <a href="page-login.html">Log in instead!</a></p>
                                                <form method="post" name="enq">
                                                    <div class="row">
                                                        <div class="form-group col-md-6">
                                                            <label>First Name <span class="required">*</span></label>
                                                            <input required="" class="form-control" name="name" type="text" />
                                                        </div>
                                                        <div class="form-group col-md-6">
                                                            <label>Last Name <span class="required">*</span></label>
                                                            <input required="" class="form-control" name="phone" />
                                                        </div>
                                                        <div class="form-group col-md-12">
                                                            <label>Display Name <span class="required">*</span></label>
                                                            <input required="" class="form-control" name="dname" type="text" />
                                                        </div>
                                                        <div class="form-group col-md-12">
                                                            <label>Email Address <span class="required">*</span></label>
                                                            <input required="" class="form-control" name="email" type="email" />
                                                        </div>
                                                        <div class="form-group col-md-12">
                                                            <label>Current Password <span class="required">*</span></label>
                                                            <input required="" class="form-control" name="password" type="password" />
                                                        </div>
                                                        <div class="form-group col-md-12">
                                                            <label>New Password <span class="required">*</span></label>
                                                            <input required="" class="form-control" name="npassword" type="password" />
                                                        </div>
                                                        <div class="form-group col-md-12">
                                                            <label>Confirm Password <span class="required">*</span></label>
                                                            <input required="" class="form-control" name="cpassword" type="password" />
                                                        </div>
                                                        <div class="col-md-12">
                                                            <button type="submit" class="btn btn-fill-out submit font-weight-bold" name="submit" value="Submit">Save Change</button>
                                                        </div>
                                                    </div>
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>


    <script>
        const labels = {{ month|safe }}

        const data = {
          labels: labels,
          datasets: [{
            label: 'Orders',
            backgroundColor: 'rgb(59, 183, 126)',
            borderColor: 'rgb(59, 183, 126)',
            data: {{ total_orders|safe }}
          }],

        };



        const config = {
          type: 'bar',
          data: data,
          options: {
            tooltips: {enabled: false},
            hover: {mode: null},
          }
        };

        const myChart = new Chart(
            document.getElementById('myChart'),
            config
        );
      </script>
{% endblock content %}