{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE-edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ataiza | Admin Dashboard</title>
    <!-- MATERIAL ICON -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons+Sharp" rel="stylesheet">
    <!--style sheet-->
    <link rel="stylesheet" href="{% static 'assets/css/style.css'%}">
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chartjs-plugin-doughnutlabel@1.0.2"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js@3.7.0"></script>
    <script src="https://cdn.jsdelivr.net/npm/chartjs-plugin-piechart-outlabels@2.1.3"></script>



</head>
<body>
    <div class="container">
        <aside>
            <div class="top">
                <div class="logo">
                    <img src="{% static 'assets/images/logo.png' %}" alt="">
                    <h2>Ataiza Upholstery</h2>
                </div>
                <div class="close" id="close-btn">
                    <span class="material-icons-sharp">close</span>
                </div>
            </div>
            <div class="sidebar">
                <a href="{% url 'core:main-dash' %}" class="active">
                    <span class="material-icons-sharp">grid_view</span>
                    <h3>Dashboard</h3>
                </a>
                <a href="{% url 'core:customers-dash' %}">
                    <span class="material-icons-sharp">person_outline</span>
                    <h3>Customers</h3>
                    
                </a>
                <a href="{% url 'core:order-dash' %}">
                    <span class="material-icons-sharp">receipt_long</span>
                    <h3>Orders</h3>
                </a>
                <a href="{% url 'core:custom-orders-dash' %}">
                    <span class="material-icons-sharp">chair</span>
                    <h3>Custom Orders</h3>
                </a>

                <a href="{% url 'core:analytics-dash2' %}">
                    <span class="material-icons-sharp">insights</span>
                    <h3>Analytics</h3>
                </a>
                <a href="{% url 'core:message-dash' %}">
                    <span class="material-icons-sharp">mail_outline</span>
                    <h3>Messages</h3>
                    <span class="message-count">{{message_list.count}}</span>
                </a>
                <a href="{% url 'core:products-dash' %}">
                    <span class="material-icons-sharp">inventory</span>
                    <h3>Products</h3>
                </a>
                <a href="#">
                    <span class="material-icons-sharp">report</span>
                    <h3>Reports</h3>
                </a>
                <a href="#">
                    <span class="material-icons-sharp">settings</span>
                    <h3>Settings</h3>
                </a>
                <a href="#">
                    <span class="material-icons-sharp">add</span>
                    <h3>Add Products</h3>
                </a>
                {% if request.user.is_authenticated %}
                <a href="{% url 'userauths:sign-out' %}">
                    <span class="material-icons-sharp">logout</span>
                    <h3>Logout</h3>
                </a>
                {% else %}
                <a href="{% url 'userauths:sign-in' %}">
                    <span class="material-icons-sharp">logout</span>
                    <h3>Logout</h3>
                </a>
                {% endif %}
            </div>
        </aside>
        <!-- END OF ASIDE -->


        <!--==========================================MAIN===================================-->
        {% block content %}

        {% endblock content %}


        <div class="right">
            <div class="top">
                <button id="menu-btn">
                    <span class="material-icons-sharp">menu</span>
                </button>
                <div class="theme-toggler">
                    <span class="material-icons-sharp active">light_mode</span>
                    <span class="material-icons-sharp proactive">dark_mode</span>
                </div>
                {% comment %} <div class="profile">
                    <div class="info">
                        <p>Hey, <b>Daniel</b></p>
                        <small class="text-muted">Admin</small>
                    </div>
                    <div class="profile-photo">
                        <img src="{% static 'assets/images/profile-1.jpg' %}" alt="">
                    </div>
                </div> {% endcomment %}
            </div>
            <!--END OF TOP-->
            <div class="recent-updates">
                <h2>Recent Updates</h2>

                <div class="updates">

                    <div class="update">
                        <h1>{{custom_order_list_not_approved.count}}</h1>
                        <p>New submitted receipts</p>
                    </div>
                    
                        
                </div>

            </div>
                <!--END OF RECENT UPDATES-->
            <div class="sales-analytics">
                <h2>Most Ordered Foam this month</h2>
                {% for foam_type in foam_types_display %}
                    <div class="item offline">
                        <div class="icon" style="color:#D3D3D3; background-color:#D3D3D3;">
                            <!-- Display the foam image -->
                            <img src="{{ foam_type.image.url }}" alt="Foam Image">
                        </div>
                        <div class="right">
                            <div class="info">
                                <!-- Display foam name -->
                                <h3 class="icon" style="color:{{foam_type.name}};" >{{ foam_type.name }}</h3>
                                <!-- Display count of orders for this foam type -->
                                <h1>{{ foam_type.order_count }}</h1>
                            </div>
                        </div>
                    </div>
                {% endfor %}

                {% comment %} <div class="item customers">
                    <div class="icon">
                        <span class="material-icons-sharp">person</span>
                    </div>
                    <div class="right">
                        <div class="info">
                            <h3>NEW CUSTOMERSS</h3>
                            <small class="text-muted">Last 24 Hours</small>
                        </div>
                        <h5 class="success">+25%</h5>
                        <h3>849</h3>
                    </div>
                </div> {% endcomment %}
                <div class="item add-product">
                    <div>
                        <span class="material-icons-sharp">add</span>
                        <h3>Add Product</h3>
                    </div>
                </div>
            </div>
        </div>


    </div>

    <script src="{% static 'assets/js/indexdash.js'%}"></script>
</body>
</html>