
{% load static %}


<!-- Include Tempus Dominus CSS and JS in your template -->


<head>
    <meta charset="utf-8" />
    <title>Ataiza's Upholstery</title>
    <meta http-equiv="x-ua-compatible" content="ie=edge" />
    <meta name="description" content="" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta property="og:title" content="" />
    <meta property="og:type" content="" />
    <meta property="og:url" content="" />
    <meta property="og:image" content="" />
    <!-- Favicon -->
    <link rel="shortcut icon" type="image/x-icon" href="assets/imgs/theme/favicon.svg" />
    <!-- Template CSS -->

    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" integrity="sha512-9usAa10IRO0HhonpyAIVpjrylPvoDwiPUiKdWk5t3PyolY1cOd4DSE0Ga+ri4AuTroPR5aQvXU9xC6qOPnzFeg==" crossorigin="anonymous" referrerpolicy="no-referrer" />


    <link rel="stylesheet" href="assets/css/plugins/slider-range.css" />
    <link rel="stylesheet" href="{% static 'assets/css/main.css'%}" />
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/10.0.3/styles/default.min.css">
    <script>hljs.initHighlightingOnLoad();</script>
    <script src="cdnjs.cloudflare.com/ajax/libs/highlight.js/10.0.3/highlight.min.js"></script>
    <script src="{% static 'assets/js/prism.js' %}"></script>
    <link rel="stylesheet" href="{% static 'assets/css/prism.css' %}">
    {% comment %} <link rel="stylesheet" href="{% static 'assets/css/new.css' %}"> {% endcomment %}

    <!-- Popperjs -->
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js" crossorigin="anonymous"></script>
    <!-- Tempus Dominus JavaScript -->
    <script src="https://cdn.jsdelivr.net/npm/@eonasdan/tempus-dominus@6.9.4/dist/js/tempus-dominus.min.js" crossorigin="anonymous"></script>

    <!-- Tempus Dominus Styles -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@eonasdan/tempus-dominus@6.9.4/dist/css/tempus-dominus.min.css" crossorigin="anonymous">



    {% comment %} GOOGLE API {% endcomment %}
    {% comment %} <script async
    src="https://maps.googleapis.com/maps/api/js?key=YOUR_API_KEY&callback=initMap">
    </script> {% endcomment %}



</head>


    <main class="main">
        <div class="page-header breadcrumb-wrap">
            <div class="container">
                <div class="breadcrumb">
                    <a href="index.html" rel="nofollow"><i class="fi-rs-home mr-5"></i>Home</a>
                    {% comment %} <span></span> <a href="shop-grid-right.html">{{cd.product_type.title}}</a> <span></span> {{p.title}} {% endcomment %}
                </div>
            </div>
        </div>
        <div class="container mb-30">
            <div class="row">
                <div class="col-xl-11 col-lg-12 m-auto">
                    <div class="row">
                        <div class="col-xl-9">
                            <div class="product-detail accordion-detail">
                                <div class="row mb-50 mt-30">
                                    <div class="col-md-6 col-sm-12 col-xs-12 mb-md-0 mb-sm-5">
                                        <div class="detail-gallery">
                                            <span class="zoom-icon"><i class="fi-rs-search"></i></span>
                                            <!-- MAIN SLIDES -->
                                            <div class="product-image-slider">
                                                {% comment %} <figure class="border-radius-10">
                                                    <img src="{{p.image.url}}" alt="product image" />
                                                </figure> {% endcomment %}
                                                {% for cd in coi_details %}
                                                <figure class="border-radius-10">
                                                    <img src="{{cd.color.image.url}}" alt="product image" />
                                                </figure>
                                                {% endfor %}
                                            
                                            </div>
                                            <!-- THUMBNAILS -->
                                            
                                        </div>
                                        <!-- End Gallery -->
                                    </div>
                                    <div class="col-md-6 col-sm-12 col-xs-12">
                                        <div class="detail-info pr-30 pl-30">
                                            {% comment %} <span class="stock-status out-stock">-{{p.get_percentage|floatformat:0}}%</span> {% endcomment %}
                                            {% for cd in coi_details %}
                                            <h2 class="title-detail">{{cd.color.name}} {{cd.material.name}} {{cd.product_type.name}}</h2>
                                            <br>
                                            <h2 class="title-detail">{{cd.make_or_repair}} - {{cd.purpose}} </h2>
                                            {% endfor %}
                                            <div class="product-detail-rating">
                                                <div class="product-rate-cover text-end">
                                                    {% comment %} <div class="product-rate d-inline-block">
                                                        <div class="product-rating" style="width: 90%"></div>
                                                    </div> {% endcomment %}
                                                    {% for cd in coi_details %}
                                                        <span class="font-small ml-5 text-muted">{{cd.co_id}}</span>
                                                    {% endfor %}
                                                    
                                                </div>
                                            </div>
                                            <div class="clearfix product-price-cover">
                                                <div class="product-price primary-color float-left">
                                                    {% for cd in coi_details %}
                                                    <span class="current-price text-brand">₱</span><span class="current-price text-brand current-price current-product-price-{{ p.id }}" id="current-product-price">{{cd.paid_amount}}</span>
                                                    {% endfor %}
                                                    <span>
                                                        
                                                    </span>
                                                </div>
                                            </div>
                                            <div class="short-desc mb-30">
                                                <p class="font-lg">{{p.description|safe}}</p>
                                            </div>
                                            <!-- SIZESSSSSSSSSSSSS
                                            <div class="attr-detail attr-size mb-30">
                                                <strong class="mr-10">Size / Weight: </strong>
                                                <ul class="list-filter size-filter font-small">
                                                    <li><a href="#">50g</a></li>
                                                    <li class="active"><a href="#">60g</a></li>
                                                    <li><a href="#">80g</a></li>
                                                    <li><a href="#">100g</a></li>
                                                    <li><a href="#">150g</a></li>
                                                </ul>
                                            </div>
                                            -->
                                            <div class="detail-extralink mb-50">
                                                <!--<div class="detail-qty border radius">
                                                    <a href="#" class="qty-down"><i class="fi-rs-angle-small-down"></i></a>
                                                    <span class="qty-val">1</span>
                                                    <a href="#" class="qty-up"><i class="fi-rs-angle-small-up"></i></a>
                                                </div>-->
                                                    {% comment %} {% for cd in coi_details %}
                                                        <input type="number" value="1" name="" id="product-quantity" class="w-25 mb-10 product-quantity-{{cd.qty}}">
                                                    {% endfor %} {% endcomment %}
                                                
                                                {% if form.errors %}
                                                    <div class="alert alert-danger" role="alert">
                                                        <strong>Error:</strong> Please correct the following errors.
                                                        <ul>
                                                            {% for field, errors in form.errors.items %}
                                                                {% for error in errors %}
                                                                    <li>{{ field }}: {{ error }}</li>
                                                                {% endfor %}
                                                            {% endfor %}
                                                        </ul>
                                                    </div>
                                                {% endif %}
                                                    <br>

                                                <div class="product-extra-link2">
                                                    <form method="post" action="{% url 'core:custom_order_detail_dashboard' co_id=coi_details1.co_id %}">
                                                        {% csrf_token %}
                                                        
                                                        {{ form.as_p }}
                                                        
                                                        <button type="submit">Update</button>
                                                    </form>
                                                    {% if messages %}
                                                    <ul class="messages">
                                                        {% for message in messages %}
                                                            <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                                                        {% endfor %}
                                                    </ul>
                                                    {% endif %}

                                                    <script>
                                                        $(document).ready(function () {
                                                            $('[data-toggle="datepicker"]').datepicker();
                                                        });
                                                    </script>
                                                    {% comment %} <form method="post">
                                                        {% csrf_token %}
                                                        {{ form.as_p }}
                                                        <button type="submit">Update</button>
                                                    </form> {% endcomment %}

                                                        {% comment %} <input type="hidden" value="1" id="product-quantity" class="product-quantity-{{p.id}}"> {% endcomment %}
                                                        {% comment %} to address later {% endcomment %}
                                                        {% comment %} <div class="special-container">
                                                            <input type="hidden" class="product-pid-{{p.id}}" value="{{p.pid}}">
                                                            <input type="hidden" class="product-image-{{p.id}}" value="{{p.image.url}}">
                                                            <input type="hidden" class="product-id-{{p.id}}" value="{{p.id}}">
                                                            <input type="hidden" class="product-title-{{p.id}}" value="{{p.title}}">
                                                        </div>

                                                        <div class="special-container scrollable-container">
                                                            {% for p in p_color %}
                                                            <figure class="color-swatches">
                                                                <img class="color-swatches img" src="{{p.colors.url}}" alt="product image" />
                                                            </figure>
                                                            {% endfor %}

                                                        </div>

                                                        

                                                    <button type="submit" class="button button-add-to-cart add-to-cart-btn" data-index="{{p.id}}" id="add-to-cart-btn" ><i class="fi-rs-shopping-cart"></i>Add to cart</button>
                                                    <a aria-label="Add To Wishlist" class="action-btn hover-up" href="shop-wishlist.html"><i class="fi-rs-heart"></i></a>
                                                    <a aria-label="Compare" class="action-btn hover-up" href="shop-compare.html"><i class="fi-rs-shuffle"></i></a> {% endcomment %}
                                                </div>
                                            </div>
                                            <div class="font-xs">
                                                <ul class="mr-50 float-start">
                                                    <li class="mb-5">Type: <span class="text-brand">{{p.type}}</span></li>
                                                    <!-- <li class="mb-5">MFG:<span class="text-brand"> Jun 4.2022</span></li> -->
                                                    <li>Stock:<span class="in-stock text-brand ml-5">{{p.stock_count}} items in stock.</span></li>
                                                </ul>
                                                <ul class="float-start">
                                                    <li class="mb-5">SKU: <a href="#">{{p.sku}}</a></li>
                                                    <li class="mb-5">Tags: {% for tag in p.tags.all%} <a href="{% url 'core:tags' tag.slug %}" rel="tag">#{{tag.name}}</a> {% endfor %}</li>
                                                    <li>Colors:<span class="in-stock text-brand ml-5">There are {{p.color_count}} CHECK available colors for this item.</span></li>
                                                </ul>
                                            </div>
                                        </div>
                                        <!-- Detail Info -->
                                    </div>
                                </div>
                                {% comment %} <div class="product-info">
                                    <div class="tab-style3">
                                        <ul class="nav nav-tabs text-uppercase">
                                            <li class="nav-item">
                                                <a class="nav-link active" id="Description-tab" data-bs-toggle="tab" href="#Description">Description</a>
                                            </li>
                                            <li class="nav-item">
                                                <a class="nav-link" id="Additional-info-tab" data-bs-toggle="tab" href="#Additional-info">Additional info</a>
                                            </li>
                                            <li class="nav-item">
                                                <a class="nav-link" id="Vendor-info-tab" data-bs-toggle="tab" href="#Vendor-info">Vendor</a>
                                            </li>
                                            <li class="nav-item">
                                                <a class="nav-link" id="Reviews-tab" data-bs-toggle="tab" href="#Reviews">Reviews ({{reviews.count}})</a>
                                            </li>
                                        </ul>
                                        <div class="tab-content shop_info_tab entry-main-content">
                                            <div class="tab-pane fade show active" id="Description">
                                                <div class="">
                                                    <p>{{p.specifications|safe}}</p>
                                                    <ul class="product-more-infor mt-30">
                                                        <li><span>Type Of Packing</span> Bottle</li>
                                                        <li><span>Color</span> Green, Pink, Powder Blue, Purple</li>
                                                        <li><span>Quantity Per Case</span> 100ml</li>
                                                        <li><span>Ethyl Alcohol</span> 70%</li>
                                                        <li><span>Piece In One</span> Carton</li>
                                                    </ul>
                                                    <hr class="wp-block-separator is-style-dots" />
                                                    <p>Laconic overheard dear woodchuck wow this outrageously taut beaver hey hello far meadowlark imitatively egregiously hugged that yikes minimally unanimous pouted flirtatiously as beaver beheld above forward
                                                        energetic across this jeepers beneficently cockily less a the raucously that magic upheld far so the this where crud then below after jeez enchanting drunkenly more much wow callously irrespective
                                                        limpet.</p>
                                                    <h4 class="mt-30">Packaging & Delivery</h4>
                                                    <hr class="wp-block-separator is-style-wide" />
                                                    <p>Less lion goodness that euphemistically robin expeditiously bluebird smugly scratched far while thus cackled sheepishly rigid after due one assenting regarding censorious while occasional or this more
                                                        crane went more as this less much amid overhung anathematic because much held one exuberantly sheep goodness so where rat wry well concomitantly.</p>
                                                    <p>Scallop or far crud plain remarkably far by thus far iguana lewd precociously and and less rattlesnake contrary caustic wow this near alas and next and pled the yikes articulate about as less cackled
                                                        dalmatian in much less well jeering for the thanks blindly sentimental whimpered less across objectively fanciful grimaced wildly some wow and rose jeepers outgrew lugubrious luridly irrationally
                                                        attractively dachshund.</p>
                                                    <h4 class="mt-30">Suggested Use</h4>
                                                    <ul class="product-more-infor mt-30">
                                                        <li>Refrigeration not necessary.</li>
                                                        <li>Stir before serving</li>
                                                    </ul>
                                                    <h4 class="mt-30">Other Ingredients</h4>
                                                    <ul class="product-more-infor mt-30">
                                                        <li>Organic raw pecans, organic raw cashews.</li>
                                                        <li>This butter was produced using a LTG (Low Temperature Grinding) process</li>
                                                        <li>Made in machinery that processes tree nuts but does not process peanuts, gluten, dairy or soy</li>
                                                    </ul>
                                                    <h4 class="mt-30">Warnings</h4>
                                                    <ul class="product-more-infor mt-30">
                                                        <li>Oil separation occurs naturally. May contain pieces of shell.</li>
                                                    </ul>
                                                </div>
                                            </div>
                                            <div class="tab-pane fade" id="Additional-info">
                                                <table class="font-md">
                                                    <tbody>
                                                        <tr class="stand-up">
                                                            <th>Stand Up</th>
                                                            <td>
                                                                <p>35″L x 24″W x 37-45″H(front to back wheel)</p>
                                                            </td>
                                                        </tr>
                                                        <tr class="folded-wo-wheels">
                                                            <th>Folded (w/o wheels)</th>
                                                            <td>
                                                                <p>32.5″L x 18.5″W x 16.5″H</p>
                                                            </td>
                                                        </tr>
                                                        <tr class="folded-w-wheels">
                                                            <th>Folded (w/ wheels)</th>
                                                            <td>
                                                                <p>32.5″L x 24″W x 18.5″H</p>
                                                            </td>
                                                        </tr>
                                                        <tr class="door-pass-through">
                                                            <th>Door Pass Through</th>
                                                            <td>
                                                                <p>24</p>
                                                            </td>
                                                        </tr>
                                                        <tr class="frame">
                                                            <th>Frame</th>
                                                            <td>
                                                                <p>Aluminum</p>
                                                            </td>
                                                        </tr>
                                                        <tr class="weight-wo-wheels">
                                                            <th>Weight (w/o wheels)</th>
                                                            <td>
                                                                <p>20 LBS</p>
                                                            </td>
                                                        </tr>
                                                        <tr class="weight-capacity">
                                                            <th>Weight Capacity</th>
                                                            <td>
                                                                <p>60 LBS</p>
                                                            </td>
                                                        </tr>
                                                        <tr class="width">
                                                            <th>Width</th>
                                                            <td>
                                                                <p>24″</p>
                                                            </td>
                                                        </tr>
                                                        <tr class="handle-height-ground-to-handle">
                                                            <th>Handle height (ground to handle)</th>
                                                            <td>
                                                                <p>37-45″</p>
                                                            </td>
                                                        </tr>
                                                        <tr class="wheels">
                                                            <th>Wheels</th>
                                                            <td>
                                                                <p>12″ air / wide track slick tread</p>
                                                            </td>
                                                        </tr>
                                                        <tr class="seat-back-height">
                                                            <th>Seat back height</th>
                                                            <td>
                                                                <p>21.5″</p>
                                                            </td>
                                                        </tr>
                                                        <tr class="head-room-inside-canopy">
                                                            <th>Head room (inside canopy)</th>
                                                            <td>
                                                                <p>25″</p>
                                                            </td>
                                                        </tr>
                                                        <tr class="pa_color">
                                                            <th>Color</th>
                                                            <td>
                                                                <p>Black, Blue, Red, White</p>
                                                            </td>
                                                        </tr>
                                                        <tr class="pa_size">
                                                            <th>Size</th>
                                                            <td>
                                                                <p>M, S</p>
                                                            </td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                            <div class="tab-pane fade" id="Vendor-info">
                                                <div class="vendor-logo d-flex mb-30">
                                                    <img src="{% static 'assets/imgs/vendor/vendor-18.svg' %}" alt="" />
                                                    <div class="vendor-name ml-15">
                                                        <h6>
                                                            <a href="vendor-details-2.html">TO BE CHANGEDDDDDDD</a>
                                                        </h6>
                                                        <div class="product-rate-cover text-end">
                                                            <div class="product-rate d-inline-block">
                                                                <div class="product-rating" style="width: 90%"></div>
                                                            </div>
                                                            <span class="font-small ml-5 text-muted"> (32 reviews)</span>
                                                        </div>
                                                    </div>
                                                </div>
                                                <ul class="contact-infor mb-50">
                                                    <li><img src="{% static 'assets/imgs/theme/icons/icon-location.svg' %}" alt="" /><strong>Address: </strong> <span>5171 W Campbell Ave undefined Kent, Utah 53127 United States</span></li>
                                                    <li><img src="{% static 'assets/imgs/theme/icons/icon-contact.svg' %}" alt="" /><strong>Contact Seller:</strong><span>(+91) - 540-025-553</span></li>
                                                </ul>
                                                <div class="d-flex mb-55">
                                                    <div class="mr-30">
                                                        <p class="text-brand font-xs">Rating</p>
                                                        <h4 class="mb-0">92%</h4>
                                                    </div>
                                                    <div class="mr-30">
                                                        <p class="text-brand font-xs">Ship on time</p>
                                                        <h4 class="mb-0">100%</h4>
                                                    </div>
                                                    <div>
                                                        <p class="text-brand font-xs">Chat response</p>
                                                        <h4 class="mb-0">89%</h4>
                                                    </div>
                                                </div>
                                                <p>TO BE CHANGEDDDDDD Noodles & Company is an American fast-casual restaurant that offers international and American noodle dishes and pasta in addition to soups and salads. Noodles & Company was founded in 1995 by Aaron Kennedy
                                                    and is headquartered in Broomfield, Colorado. The company went public in 2013 and recorded a $457 million revenue in 2017.In late 2018, there were 460 Noodles & Company locations across 29 states and
                                                    Washington, D.C.</p>
                                            </div>
                                            <div class="tab-pane fade" id="Reviews">
                                                <!--Comments-->
                                                <div class="comments-area">
                                                    <div class="row">
                                                        <div class="col-lg-8">
                                                            <h4 class="mb-30">Customer questions & answers</h4>
                                                            <div class="comment-list">
                                                                {% for r in reviews %} <!--START-->
                                                                <div class="single-comment justify-content-between d-flex mb-30">
                                                                    <div class="user justify-content-between d-flex">
                                                                        <div class="thumb text-center">
                                                                            <img src="https://i.pinimg.com/564x/65/25/a0/6525a08f1df98a2e3a545fe2ace4be47.jpg" alt="" />
                                                                            <a href="#" class="font-heading text-brand">{{r.profile|title}}</a> <!--MARK ONE r.user.profile.first_name-->
                                                                        </div>

                                                                        <div class="desc">
                                                                            <div class="d-flex justify-content-between mb-10">
                                                                                <div class="d-flex align-items-center">
                                                                                    <span class="font-xs text-muted">{{r.date|date:"d M, Y"}}</span>
                                                                                </div> <!--the one below will be new-->
                                                                                <div>
                                                                                    {% for star in r.rating|ljust:r.rating %}
                                                                                    <i class="fas fa-star text-warning"></i>
                                                                                    {% endfor %}
                                                                                </div>
                                                                            </div>
                                                                            <p class="mb-10">{{r.review}}</p>
                                                                                <!--<br>-->
                                                                                <!--<a href="#" class="reply">Reply</a></p>-->
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                {% endfor %} <!-- END -->
                                                            </div>
                                                        </div>
                                                        <div class="col-lg-4">
                                                            <h4 class="mb-30">Customer reviews</h4>
                                                            <div class="d-flex mb-30">
                                                                <div class="product-rate d-inline-block mr-15">
                                                                    <div class="product-rating" style="width: {{ average_rating.rating|default:0 }}/5 * 100%"></div>
                                                                </div>
                                                                <h6>{{ average_rating.rating|floatformat:1 }} out of 5</h6>
                                                            </div>
                                                            <div class="progress">
                                                                <span>5 star</span>
                                                                <div class="progress-bar" role="progressbar" style="width: 50%" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100">50%</div>
                                                            </div>
                                                            <div class="progress">
                                                                <span>4 star</span>
                                                                <div class="progress-bar" role="progressbar" style="width: 25%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">25%</div>
                                                            </div>
                                                            <div class="progress">
                                                                <span>3 star</span>
                                                                <div class="progress-bar" role="progressbar" style="width: 45%" aria-valuenow="45" aria-valuemin="0" aria-valuemax="100">45%</div>
                                                            </div>
                                                            <div class="progress">
                                                                <span>2 star</span>
                                                                <div class="progress-bar" role="progressbar" style="width: 65%" aria-valuenow="65" aria-valuemin="0" aria-valuemax="100">65%</div>
                                                            </div>
                                                            <div class="progress mb-30">
                                                                <span>1 star</span>
                                                                <div class="progress-bar" role="progressbar" style="width: 85%" aria-valuenow="85" aria-valuemin="0" aria-valuemax="100">85%</div>
                                                            </div>
                                                            <a href="#" class="font-xs text-muted">How are ratings calculated?</a>
                                                        </div>
                                                    </div>
                                                </div>
                                                <!--comment form-->
                                                {% if make_review == True %}
                                                {% if request.user.is_authenticated %}
                                                    <div class="comment-form">
                                                        <h4 class="mb-15 add-review">Add a review</h4>
                                                        <strong class="text-success" id="review-res">  </strong>
                                                        <!--<div class="product-rate d-inline-block mb-30"></div>-->
                                                        <div class="row">
                                                            <div class="col-lg-8 col-md-12">
                                                                <form class="form-contact comment_form hide-comment-form" action="{% url 'core:ajax-add-review' p.id %}" id="commentForm" method="POST">
                                                                    {% csrf_token %}
                                                                    <div class="row">
                                                                        <div class="col-12">
                                                                            <div class="form-group">
                                                                                {{review_form.review}}
                                                                                <!--<textarea class="form-control w-100" name="comment" id="comment" cols="30" rows="9" placeholder="Write Comment"></textarea>-->
                                                                            </div>
                                                                        </div>
                                                                        <div class="col-12">
                                                                            <div class="form-group">
                                                                                {{review_form.rating}}
                                                                                <!--<textarea class="form-control w-100" name="comment" id="comment" cols="30" rows="9" placeholder="Write Comment"></textarea>-->
                                                                            </div>
                                                                        </div>
                                                                        <!--<div class="col-sm-6">
                                                                            <div class="form-group">
                                                                                <input class="form-control" name="name" id="name" type="text" placeholder="Name" />
                                                                            </div>
                                                                        </div>
                                                                        <div class="col-sm-6">
                                                                            <div class="form-group">
                                                                                <input class="form-control" name="email" id="email" type="email" placeholder="Email" />
                                                                            </div>
                                                                        </div>
                                                                        <div class="col-12">
                                                                            <div class="form-group">
                                                                                <input class="form-control" name="website" id="website" type="text" placeholder="Website" />
                                                                            </div>
                                                                        </div> -->
                                                                    </div>
                                                                    <div class="form-group">
                                                                        <button type="submit" class="button button-contactForm">Submit Review</button>
                                                                    </div>
                                                                </form>
                                                            </div>
                                                        </div>
                                                    </div>
                                                {% endif %}
                                                {% endif %}
                                            </div>
                                        </div>
                                    </div>
                                </div> {% endcomment %}

                                <div class="row mt-60">
                                    <div class="col-12">
                                        {% if products %}
                                        <h2 class="section-title style-1 mb-30">Related products</h2>
                                        {% endif %}
                                    </div>
                                    <div class="col-12">
                                        
                                    </div>
                                </div>
                            </div>
                        </div>


                        <div class="col-xl-3 primary-sidebar sticky-sidebar mt-30">
                            <h5 class="section-title style-3 mb-20">Submitted Receipt:</h5>
                            {% for cd in coi_details %}
                            {% if cd.receipt_img %}
                            <div class="sidebar-widget widget-vendor mb-30 bg-grey-9 box-shadow-none">
                                <p><img src="{{ cd.receipt_img.url }}" alt="Receipt" style="width: 20rem; height:30rem; object-fit:cover;"></p>
                            </div>
                            {% else %}
                            <p>Customer have not yet submitted.</p>
                            {% endif %}
                            {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </main>
