{% extends 'admindash/base-dash.html' %}
{% load static %}
{% block content %}       
{% load humanize %}
        <main>
            <h1>Dashboard1</h1>
            <div class="date">
                <input type="date">
            </div>

            <div class="insights">
                <div class="sales">
                    <span class="material-icons-sharp">analytics</span>
                    <div class="middle">
                        <div class="left">
                            <h3>Total Sales</h3>
                            <h1>₱1,503,200</h1>
                        </div>
                        <div class="progress">
                            <svg>
                                <circle cx='38' cy='38' r='36'></circle>
                            </svg>
                            <div class="number">
                                <p>81%</p>
                            </div>
                        </div>
                    </div>
                    <small class="text-muted">Last 24 hours</small>
                </div>
                <!--END OF SALES-->
                <div class="expenses">
                    <span class="material-icons-sharp">bar_chart</span>
                    <div class="middle">
                        <div class="left">
                            <h3>Total Expense</h3>
                            <h1>₱503,200</h1>
                        </div>
                        <div class="progress">
                            <svg>
                                <circle cx='38' cy='38' r='36'></circle>
                            </svg>
                            <div class="number">
                                <p>61%</p>
                            </div>
                        </div>
                    </div>
                    <small class="text-muted">Last 24 hours</small>
                </div>
                <!--END OF EXPENSES-->
                <div class="income">
                    <span class="material-icons-sharp">stacked_line_chart</span>
                    <div class="middle">
                        <div class="left">
                            <h3>Total Sales</h3>
                            <h1>₱1,000,203</h1>
                        </div>
                        <div class="progress">
                            <svg>
                                <circle cx='38' cy='38' r='36'></circle>
                            </svg>
                            <div class="number">
                                <p>44%</p>
                            </div>
                        </div>
                    </div>
                    <small class="text-muted">Last 24 hours</small>
                </div>
                <!--END OF INCOME-->
            </div>
            <!-- END OF INSIGHTS -->
            <div class="recent-orders">
                <h2>Recent Orders</h2>
                <table>
                    <thead>
                        <tr>
                            <th>Profile</th>
                            <th>Order ID</th>
                            <th>Orders</th>
                            <th>Date</th>
                            <th>Status</th>
                            <th>Receipt Submitted</th>
                            <th>Payment Status</th>
                            <th>Total</th>
                        </tr>
                        
                    </thead>
                    <tbody>
                        {% for o in order_list %}
                        <tr>
                            <td>{{o.profile}}</td>
                            <td>{{o.cartorder_id}}</td>
                            <td>INVOICE_NO-{{o.id}}</td>
                            <td>{{o.order_date}}</td>
                            <td>{{o.product_status|title}}</td>

                            {% if o.receipt_submitted == True %}
                            <td><i class="fas fa-check-circle text-success">✔️</i></td>
                            {% else %}
                            <td class="text-danger"><strong>X</strong></td>
                            {% endif %}

                            {% if o.paid_status == True %}
                            <td><i class="fas fa-check-circle text-success">✔️</i></td>
                            {% else %}
                            <td class="text-danger"><strong>X</strong></td>
                            {% endif %}
                            <td>{{o.price|floatformat:2|intcomma}}</td>
                            <td><a href="{% url 'core:order_detail_maindash' o.id %}" class="primary">View</a></td>
                            {% comment %} <td><a href="{% url 'core:order-detail' o.id %}" class="btn-small d-block">View</a></td>

                            <td class="warning">Pending</td>
                            <td class="primary">Details</td> {% endcomment %}
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
                {% comment %} <a href="{% url 'core:order-dash' %}"  id="show-all-orders">Show All</a> <!-- self suggestion doblehin ung page--> {% endcomment %}
            </div>
        </main>

        {% endblock content %}
